body {
    background-image: url("../images/pexels-photo-242236.jpg");
    background-size:cover;
    background-color: rgb(233, 233, 233);
    
}

.headings {
    border: 5px solid rgb(51, 50, 120);
    padding: 10px;
    border-radius: 10px;
}

.nav-header {
    background-color: rgb(51, 50, 120);
    color: whitesmoke;
}

.verb-box {
    text-align: center;
    background-color: rgb(96, 115, 165);
    color: whitesmoke;
    font-size: 1rem;
    margin: 1rem 0.2rem;
    padding: .5rem;
    box-shadow: 1.5px 3px rgb(51, 50, 120);
    border-radius: 4px;
    width: 100%;
}

.verb-box:hover {
    background-color: whitesmoke;
    color:  rgb(96, 115, 165);
}

.excercise-container {
    background-color: rgb(96 144 205 / 36%);
    min-height: 300px;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 2px 4px rgb(90 90 92 / 54%);
    padding: 1rem;
}

.input-up {
    max-width: 6rem;
    max-height: 25px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 6px;
    margin: 1px;
    transition: 1s;
}

.example-box {
    display: none;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 6px;
    margin-top: 0px;
    box-shadow: 2px 4px rgb(90 90 92 / 54%);
}

.result {
    max-height: 25px;
    max-width: 25px;
}

#close-one {
   background-color: #fff09a;
   border-radius: 4px;
   font-style: italic;
}

#upAdvance {
    display: none;
}

.input-down {
    min-width: 300px;
    max-height: 25px;
    background-color: whitesmoke;
    border-style: unset;
    border-radius: 6px;
}

#street-image {
    max-width:200px;
    max-height:200px;
}

#marksStory {
    opacity: 0;
    transition:1s;
}

.excercise-steps {
    background-color: rgb(96 144 205 / 36%);
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 2px 4px rgb(90 90 92 / 54%);
    padding: 1rem;
}

.audio-buttons {
    font-size: 3rem;
    color: rgb(51, 50, 120);
    background-color: #aebfd500;
    border: none;
}

.fa-play-circle:hover {
    color: #bcf9bc   
}

.fa-pause-circle:hover {
    color: #fff09a
}

.fa-stop-circle:hover {
    color: #e66363
}

.fa-volume-up {
    margin-left: 3px;
}

.quiz-container {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 15px;
}

.quiz-sentence {
    padding: 5px;
}

.quiz-buttons {
    background-color:teal;
    text-align: center;
    border: 2px solid black;
    margin: 0 auto;
    width: 100%;
    margin: 5px 0px;
    box-sizing: border-box;
}